.heroBanner {
    background: rgb(201, 241, 255);
    color: #2c2c2c;
    min-height: 80vh;
    text-align: center;
    padding-top: 20vh;
}

.heroBanner h1 {
    font-size: 80px;
}

.heroBanner h2 {
    font-size: 40px;
}

.heroBanner button {
    background: mediumpurple;
    padding: 10px 40px;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}